<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Worker List</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>性別</th>
        <th>誕生日</th>
      </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
          <td>{{worker.id}}</td>
          <td>{{worker.person.name}}</td>
          <td>{{worker.person.sex}}</td>
          <td>{{worker.person.birthday}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</body>
</html>
